PyPDF2
pipe
pyinstaller
python-vlc
PySimpleGUI
PySide6
numpy
pandas
python-dotenv
psycopg2
bcrypt
python-barcode
pytube
pytube3
matplotlib
seaborn
holidays
workalendar
pywhatkit
emojis
whatismyip
varname
textblob
requests_cache
opencv-python
icecream
pycrypto
eyeD3
psutil
httpx
phonenumbers
python-dotenv
psycopg2
psycopg2-binary
django
psycopg2
boto3
tornado
click
colorama
Flask
itsdangerous
Jinja2
MarkupSafe
Werkzeug
gunicorn
flask_sqlalchemy
sqlalchemy
flask-migrate
flask-wtf
typer
fastapi
uvicorn